# dependencies
node_modules
dist
.vite
*.tsbuildinfo

# env
.env
.env.local
.selectel_service_creds
.selectel_iam_token
.selectel_smtp_meta.json
.smtp_app_password
.crm_service_token
*.vercel.local

# pocketbase
backend/pocketbase/pb
backend/pocketbase/pb_data
backend/pocketbase/data
*.db

# OS
.DS_Store
.vercel
